:root{
    --main-color : #EA580C;
    --dark-gradient-color : #893212;
    --light-gradient-color : #ff6900;
    --section-padding : 96px;
    --section-padding-small-screen : 5.375rem;
    --txt-color : #4A5565;
    --section-color : #FFF7EE;
    --main-transition : 0.3s;
}

body{
    font-family: "Inter" , sans-serif;
}
p{
    margin-block: 0;
    color: var(--txt-color);
}
.section-head h2{
    font-size: 1.625rem;
    font-weight: 900;
}
.section-head p{
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    color: var(--txt-color);
}
.section-head .badge{
    width: fit-content;
}
/* ---------------------------------------------nav-bar----------------------------- */
nav .navbar-toggler{
    border: none;
}
nav .navbar-toggler:focus{
    box-shadow: none;
}
nav .navbar-nav .nav-item,
nav .navbar-nav .dropdown-item{
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
}
.navbar .dropdown-toggle::after {
    display: none!important;
}
nav .navbar-nav .nav-item a:focus,
nav .navbar-nav .dropdown-item a:focus,
nav .navbar-nav .nav-item:hover a ,
nav .navbar-nav .dropdown-item:hover a{
    color: var(--main-color);
}

nav .navbar-nav{
    display: relative;
}

nav .navbar-nav .dropdown-menu{
    left: -50px;
    padding-left:10px;
    height: 300px;
    overflow-y: auto;
}

nav .navbar-nav .dropdown-menu .content:hover{
    background-color: #FCF6F3;
    transition: 0.1s;
}
nav .navbar-nav .dropdown-menu .content .c-icon{
    transition: all 0.1s;
}

nav .navbar-nav .dropdown-menu .content:hover .c-icon{
    transform : scale(1.15)
}
nav button.sign-in{
    color: black;
    transition: 0.2s;
}
nav button.sign-in:hover{
    color: var(--main-color);
    transition: 0.2s;
}
.nav-buttons{
    padding-top: 20px;
    border-top: 1px solid rgba(74, 85, 101,0.3);
}
/* ------------------------------------------------header---------------------------- */
header{
    background: linear-gradient(90deg, var(--section-color) 80%, white);
    padding-top: 90px;
    padding-bottom: var(--section-padding-small-screen);
    isolation: isolate;
}
header .row > div {
    overflow: visible;
}

header .content h1 span{
    font-weight: 900;
    line-height: 39px;
    font-size: 32px;
}
header .content p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    line-height: 28px;
    color: var(--txt-color);
}
header .content button.watch{
    color: var(--txt-color);
    background-color: transparent;
    border: 2px solid #4a55655c;
    transition: all var(--main-transition);
}
header .content button.watch:hover{
    color: var(--main-color);
    border-color: var(--main-color);
}
header .figure{
    position: relative;
    z-index: 1;

}
header .beyond-figure{
    position: absolute;
    inset: 0;
    background-color: #F8D9C8;
    border-radius: 20px;
    transform: rotate(5deg);
    z-index: 1;
}

header .image-holder{
    position: relative;
    z-index: 2;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
header .image-holder .top-icon,
header .image-holder .bottom-icon{
    position: absolute;
}
header .image-holder .top-icon{
    top: -30px;
    right: -30px;
    font-size: 20px;

}
header .image-holder .bottom-icon{
    bottom: -30px;
    left: -30px;
    font-size: 30px;

}
header .image-holder img{
    border-radius: 10px;
}
/* ---------------------------------------------------header-end------------------------ */
#services{
    padding-block: var(--section-padding-small-screen);
}


#services .card h3{
    font-size: 1.125rem;
}
#services .card p{
    font-size: .875rem;
    line-height: 23px;
}

#services .card .check-list span{
    font-size: .75rem;
}
#services .card .link{
    margin-top: 20px;
}
#services .card .link span{
    font-size: .875rem;
}

#services .card:hover .icon{
    transform: scale(1.1);
    transition: var(--main-transition);
}
#services .card .link i{
    position: relative;
    right: -5px;
    transition: var(--main-transition);

}
#services .card:hover .link i{
    right: -10px;
}
/* -----------------------------------------------technology------------------------- */
#technology{
    padding-block: var(--section-padding);
}
#technology .list-item button {
    border: 0;
    background-color: transparent;
}
#technology .list-item button div{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: .4375rem .875rem;
    color: var(--txt-color);
    text-align: center;
}

#technology .list-item .link.active div{
    color: var(--main-color);
}
#technology .list-item .link.active div::after{
    opacity: 1;
}

#technology .list-item .link div{
    position: relative;
    transition: all var(--main-transition);
}
#technology .list-item .link div::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    opacity: 0;
    transition: all var(--main-transition);

}
#technology .list-item .link:hover div{
    color: var(--main-color)
}
#technology .list-item .link:hover div::after{
    opacity: 1;
}


/* -----------------------------------------------end of technology sec------------------------- */
#reviews{
    background: linear-gradient(90deg, var(--section-color) 80%, white);
    padding-block: var(--section-padding-small-screen);
}
#reviews .figure .image-holder{
    width: 30%;
    border: 1px solid var(--main-color);
    border-radius:50%;
    position: relative;
}

#reviews .figure .image-holder .check{
    color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: -10px;
    font-size: 30px;

}

#reviews .stat{
    display: none;
}
#reviews .carousel-indicators{
    bottom: -35px;
}
#reviews .carousel-indicators button{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--light-gradient-color);
    transition: all var(--main-transition);
}
#reviews .carousel-indicators button:hover,
#reviews .carousel-indicators button.active{
    width: 40px;
    border-radius: 999px;
    background-color: var(--light-gradient-color);
}

/* ------------------------------------------------FAQ------------------------------------------------ */
#FAQ{
    padding-block: var(--section-padding-small-screen);
}
#FAQ .accordion-item{
    border-radius: 10px;
    padding: 15px;
}
#FAQ .accordion-item:hover{
    border-color: #ff6a005b;
    background-color: #4a556509;

}
#FAQ .accordion-item:hover .accordion-header{
    border-color: #ff6a005b;
    background-color: #4a556509;

}
#FAQ .accordion-button {
    color: var(--dark-gradient-color);
    font-weight: 600;
    font-size: 16px;
    box-shadow: none;
}
#FAQ .accordion-button:focus {
    color: var(--main-color);
    box-shadow: none !important;
    outline: none;
    background-color: transparent;
}
#FAQ .accordion-button:not(.collapsed) {
    color: var(--main-color);
    box-shadow: none;
}
/* -----------------------------------------------------End of FAQ ------------------------------------------ */
#ContactUS{
    background: linear-gradient(90deg, var(--section-color) 80%, white);
    padding-block: var(--section-padding-small-screen);
}
#ContactUS .card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
#ContactUS .card:hover{
    top: 0;
}
#ContactUS .budget div h4{
    transition: all var(--main-transition);
}
#ContactUS .budget div:hover h4,
#ContactUS .budget div:focus h4
{
    color:var(--main-color);
}
#ContactUS .budget div .inner-card{
    border: 1px solid #4A5565;
    transition: all var(--main-transition);
}
#ContactUS .budget div:hover .inner-card,
#ContactUS .budget div:focus .inner-card
{
    border-color: var(--main-color);
}

#ContactUS label{
    font-size: 16px;
    font-weight: 600;
}
#ContactUS input,
#ContactUS select,
#ContactUS textarea
{
    padding: 20px;
}
#ContactUS input:focus,
#ContactUS select:focus,
#ContactUS textarea:focus
{
    border: 2px solid var(--main-color);
    box-shadow: none;
    
}

#ContactUS .info p{
    font-size: .875rem;
    font-weight: 400;
    color: #fffc;
}

/* ---------------------------------------------------------start footer -------------------------- */

footer{
    padding-top: var(--section-padding-small-screen);
}
footer .link .row div{
    width: fit-content;
}
footer .link{
    background-color: #83848759;
    transition: all var(--main-transition);
    color: black;
}
footer .link:hover{
    background-color: var(--main-color);
    color: white;
    transition: var(--main-transition);
}