
:root{
    --section-padding : 100px;
}

@media (min-width: 1024px) {
    nav .navbar-nav .nav-item,
    nav .navbar-nav .dropdown-item {
        margin-bottom: 0;
        font-size: 16px;
    }
    .nav-buttons{
        padding-top: 0px;
        border-top: none;
    }
    nav .navbar-nav .dropdown-menu{
        position: absolute;
        top: 40px;
        left: -50px;
        width: 1000px;
        height: auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        padding: 40px;
        overflow-y: auto;
    }
    header{
        height: 100vh;
        padding-bottom: var(--section-padding);
    }
    header .content h1 span{
        font-weight: 900;
        line-height: 75px;
        font-size: 60px;
    }
    header .content p{
        line-height: 33px;
        color: var(--txt-color);
    }
    header .figure{
        width: 90%!important;
    }

    #reviews .figure .image-holder{
        width: 10%;
    }
    #reviews .stat{
        display: block;
    }
    #reviews .figure .image-holder + div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .section-head .badge{
        font-size: 14px;
    }
    .section-head h2{
        font-size: 3rem;
        font-weight: 900;
    }
    .section-head p{
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: var(--txt-color);
    }
    .section-head .badge{
        width: fit-content;
    }
    header .image-holder .top-icon{
    top: 0;
    right: 0;
    font-size: 20px;

}
    header .image-holder .bottom-icon{
        bottom: 0;
        left: 0;
        font-size: 30px;
    }
}